/* P A L E T T E
Amarillo patito: #fabf00
Blue Grey:  #6699CC
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --secondary: #58ff00;
    --primary: #ffffff;
}

/*global styling*/

html {
    scroll-behavior: smooth;
}

.background-gradient {
    background-image: linear-gradient(#012456, black);
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    overflow-x: hidden;
}

.code-container {
    clear: both;
    background-color: rgba(42, 42, 42, 0.3);
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgb(42, 42, 42);
}

.code-container code {
    font-family: monospace;
}

.article-link {
    clear: both;
    background-color: rgba(42, 42, 42, 0.3);
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgb(42, 42, 42);
}

body {
    color: #eeedf0;
    font-family: "Ubuntu", sans-serif;
    height: 100%;
}

section {
    padding-top: 50px !important;
}

.home-content {
    margin-top: 50px;
}

.home-content img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer a:visited {
    color: var(--secondary);
}

footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 80px;
    width: auto;
}




/* Responsive media query */

@media (max-width: 1300px) {
}

@media (max-width: 1104px) {
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {

    .max-width{
        max-width: 800px;
    }

    .home .home-content .text-2 {
        font-size:  70px;
    }

    .home .home-content .text-3 {
        font-size:  35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    
    .home-content img {
        width: 100%;
    }

    /*about*/

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }

    footer {
        margin-bottom: 10px;
    }
}

@media (max-width: 690px) {
    /*690 global*/
    .max-width {
        padding: 23px;
    }
    section .title::before{
        width: 400px;
    }

    section .title::after{
        font-size: 12px;
    }

    /*690 home*/

    .home .home-content .text-2 {
        font-size:  60px;
    }

    .home .home-content .text-3 {
        font-size:  32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size:  50px;
    }

    .home .home-content .text-3 {
        font-size:  27px;
    }
    section .title::before{
        width: 300px;
    }
}